<div class="card" style="width: 10rem;">

	{{#if smacked}} <image class="card-img-top" src={{pup}} alt={{name}}></image> {{else}} <image class="card-img-top"
		src={{adult}} alt={{name}}></image>{{/if}}
	<div class="card-body">
		<h5 class="card-title">{{name}}</h5>
		<a href="#" class="btn btn-primary smack-that" data-id="{{id}}" data-newsmack="{{smacked}}">{{#if smacked}}SMACK
			THAT!{{else}}REVERT!{{/if}}</a>
		<button class="delete-dog" data-id="{{this.id}}">X</button>
	</div>
</div>